@font-face {
    font-family: 'PP Pangram Sans';
    src: url('/fonts/PPPangramSans-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'PP Pangram Sans Bold';
    src: url('/fonts/PPPangramSans-Semibold.otf') format('opentype');
}
